<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Sr No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Contact No.</th>
                  <th scope="col">EmailID</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index) {
                <tr>
                  <td>{{$index + 1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.contactInfo}}</td>
                  <td>{{item.emailID}}</td>
                  <td>
                    <div class="btn btn-primary" (click)="onEdit(item)">Edit</div>
                  </td>
                  <td>
                    <div class="btn btn-danger" (click)="onDelete(item.empId)">Delete</div>
                  </td>
                </tr>
              }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
        <div class="row">
          <!-- <div class="col-6">
            <label for="">EmpId</label>
            <input type="text" formControlName="empId" class="form-control border-secondary">
          </div> -->
          <div class="col-6">
            <label for="">Name</label>
            <input type="text" formControlName="name" class="form-control border-secondary">
            <div class="text-danger">
              @if(employeeForm.controls['name'].touched){
                @if(employeeForm.controls['name'].errors?.['required']){
                  <span>Name is required</span>
                } 
              }
            </div>
          </div>
          <div class="col-6">
            <label for="">Contact Info</label>
            <input type="text" formControlName="contactInfo" class="form-control border-secondary">
            <div class="text-danger">
              @if(employeeForm.controls['contactInfo'].touched){
                @if(employeeForm.controls['contactInfo'].errors?.['required']){
                  <span>Contact Info is required</span>
                }
                @if(employeeForm.controls['contactInfo'].errors?.['minlength']){
                  <span>Min Length is 10 </span>
                } 
                @if(employeeForm.controls['contactInfo'].errors?.['maxlength']){
                  <span>Max Length is 15 characters</span>
                } 
              }
            </div>
          </div>
          <div class="col-6">
            <label for="">Email ID</label>
            <input type="email" formControlName="emailID" class="form-control border-secondary">
            <div class="text-danger">
              @if(employeeForm.controls['emailID'].touched){
                @if(employeeForm.controls['emailID'].errors?.['required']){
                  <span>Email ID is required</span>
                } 
              }
            </div>
          </div>
          <div class="col-6">
            <label for="">City</label>
            <input type="text" formControlName="city" class="form-control border-secondary">
          </div>
          <div class="col-6">
            <label for="">State</label>
            <input type="text" formControlName="state" class="form-control border-secondary">
          </div>
          <div class="col-12">
            <label for="">Address</label>
            <textarea class="form-control border-secondary" formControlName="address"></textarea>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-6">
            <button class="btn btn-secondary" (click)="onReset()">Reset</button>
          </div>
          <div class="col-6">
            @if(employeeForm.controls['empId'].value == '0'){
            <button class="btn btn-primary" [disabled]="employeeForm.invalid" (click)="onSave()">Save Employee</button>
            }@else{
              <button class="btn btn-warning" [disabled]="employeeForm.invalid" (click)="onUpdate()">Update Employee</button>
            }
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>